#### Tuples

1. Immutable - Can not be modified after creation
2. Similar to List
3. Ordered collection of items
4. () -> Create an empty tuple OR using constructor tuple()


ðŸ”¹ Why Use Tuples?

1. Faster than lists (since immutable).
2. Used as dictionary keys (lists cannot).
3. Good for fixed collections of data (e.g., coordinates, RGB values, DB rows).

In [2]:
tuple() # Creating an empty tuple using constructor method

()

In [4]:
t_empty=()
t_empty

()

In [5]:
t2=(1,2,3,4,5,6)

In [6]:
t2

(1, 2, 3, 4, 5, 6)

In [7]:
t2[3] # Access the elements using index

4

In [9]:
# Iterate through tuples
for item in t2:
    print(item, end=' ')

1 2 3 4 5 6

In [18]:
# Create a tuple using a list
l1 = [3,5,6,7,2,4,2,3]
print(l1)
print(type(l1))

[3, 5, 6, 7, 2, 4, 2, 3]
<class 'list'>

In [19]:
t3=tuple(l1)

In [20]:
print(t3)
print(type(t3))

(3, 5, 6, 7, 2, 4, 2, 3)
<class 'tuple'>

##### Immutable

In [21]:
t2

(1, 2, 3, 4, 5, 6)

In [23]:
# t2[2] = 10

# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# Cell In[22], line 1
# ----> 1 t2[2] = 10

# TypeError: 'tuple' object does not support item assignment

#### Packing and unpacking tuples

In [ ]:
tuples_packed = 1,"Hello", 45.56, True, (3,4), [5,6,7]
# in python, assigning multiple values to variable even without parenthesis it creates a tuple : Tuple packing

In [31]:
tuples_packed

(1, 'Hello', 45.56, True, (3, 4), [5, 6, 7])

In [32]:
print(type(tuples_packed))

<class 'tuple'>

In [33]:
t4 = (3,4,2,(8,9), "Hello") #Tuple packing using parenthesis

In [34]:
print(t4)

(3, 4, 2, (8, 9), 'Hello')

In [35]:
#Unpacking means extracting values from a tuple into separate variables
t5=3,4,5

In [ ]:
a,b,c = t5 #Unpacking

In [37]:
print(a, b, c)

3 4 5

In [38]:
t6 = 'a','c',9,1,(5,6),[4,3,2],True

In [39]:
t6

('a', 'c', 9, 1, (5, 6), [4, 3, 2], True)

In [43]:
a,b,c,d,(e,f),[g,h,i],j=t6

In [44]:
print(a,b,c,d,e,f,g,h,i,j)

a c 9 1 5 6 4 3 2 True

In [ ]:
a,b,*c=t6 # Value returned to *c is a list of rest of the items
# *c -> (note: list, not tuple)

In [48]:
print(a,b,c)

a c [9, 1, (5, 6), [4, 3, 2], True]

In [ ]:
t = (5, 2, 8, 1, 5)

print(t.count(5))   # 2 (how many times 5 occurs)
print(t.index(8))   # 2 (index of first occurrence of 8)

#### Tuple Specific methods

count()
index()

In [50]:
t=(2,3,1,2,3,4,6,2,3,6,99,7,8,9,2,1,2,2,5,6,0)

In [51]:
t

(2, 3, 1, 2, 3, 4, 6, 2, 3, 6, 99, 7, 8, 9, 2, 1, 2, 2, 5, 6, 0)

In [58]:
print(t.count(2)) # number of times the value 2 exists in tuple

6

In [59]:
print(t.index(1)) # 1st occurence of 1 and return the correponding index

2

##### Functions

In [62]:
# Length of the tuple
length=len(t)

print(length)

21

In [64]:
#mininum value of the element in the tuple
min_element=min(t)

print(min_element)

0

In [65]:
#maximum value of the element in the tuple
max_element=max(t)

print(max_element)

99

In [66]:
#Sum of all the elements in the tuple
sum_of_element=sum(t)

print(sum_of_element)

173

In [72]:
#any element is either True or non-zero
t = (0,0,0,0) # any element is other than 0/False
any_true=any(t)

print(any_true)

False

In [73]:
t = (0,0,0,1) # any element is true/non-zero/Not null/0.0
any_true=any(t)

print(any_true)

True

In [74]:
# Check if all the elements are true/non-zero/Not null/0.0

t=(1,2,3,0)
all_true=all(t)
print(all_true)

False

In [79]:
# Check if all the elements are true/non-zero

t=(1,2,3,4,'a',0.01,'c')
all_true=all(t)
print(all_true)

True

In [80]:
# Membership functions in and not in  
if 'a' in t:
    print('value a exist in the tuples')
else:
    print('value a does not exist in the tuples')

value a exist in the tuples

In [82]:
if 'a' not in t:
    print('value a does not exist in the tuples')
else:
    print('value a does exist in the tuples')

value a does exist in the tuples

In [89]:
# enumerator - Returns the list of index and corresponding element

enumerator_list=enumerate(t)
print(enumerator_list)
print(type(enumerator_list))
print(list(enumerator_list))

<enumerate object at 0x0000022AA95DD9E0>
<class 'enumerate'>
[(0, 1), (1, 2), (2, 3), (3, 4), (4, 'a'), (5, 0.01), (6, 'c')]

In [91]:
for index, item in enumerate(t):
    print(index, item)

0 1
1 2
2 3
3 4
4 a
5 0.01
6 c

In [95]:
tuple(reversed(t)) # Returns a tuple which is reversed

('c', 0.01, 'a', 4, 3, 2, 1)

In [96]:
print(t)

(1, 2, 3, 4, 'a', 0.01, 'c')

In [99]:
t_int=(4,2,1,6,2,8,6,9,21)

In [102]:
sorted(t_int) # Returns lsit with sorted elements

[1, 2, 2, 4, 6, 6, 8, 9, 21]

In [101]:
print(t_int)

(4, 2, 1, 6, 2, 8, 6, 9, 21)

In [103]:
#Creating a tuple using list
l1=[2,3,1,2,3,55,6,66,9]

In [104]:
t_from_list=tuple(l1)

In [106]:
print(t_from_list)

(2, 3, 1, 2, 3, 55, 6, 66, 9)

In [107]:
##### Nested tuples

t_nested = ((1,2,3,4),(5,6,7,8),('a','b','c','d'),([1,2],[3,4]))

In [108]:
t_nested

((1, 2, 3, 4), (5, 6, 7, 8), ('a', 'b', 'c', 'd'), ([1, 2], [3, 4]))

In [110]:
print(t_nested[0][3])

4

In [122]:
t_nested[2][1:3]

('b', 'c')

In [123]:
t_nested[3][0]

[1, 2]

In [125]:
#Iterate through nested tuple
for sub_tuple in t_nested:
    for item in sub_tuple:
        print(item,end=' ')
    print()

1 2 3 4
5 6 7 8
a b c d
[1, 2] [3, 4]

In [129]:
t=([1,23,3],[4,5],[1,7])

print(sorted(t))

[[1, 7], [1, 23, 3], [4, 5]]

In [131]:
print(sorted(('a','a','z','y')))

['a', 'a', 'y', 'z']

In [132]:
print(sorted(([1,2],[0,1],[0,2])))

[[0, 1], [0, 2], [1, 2]]

In [137]:
print(min('ac','ad','z','y','ab'))

ab