# Operators

## Mathematics Operators
1. Addition(+) -> a+b
2. Subtraction(-) -> a-b
3. Multiplication(*) -> a*b
4. Division(/) -> a/b (quotient is Floating value)
5. Floor Division(//) -> a//b (quotient is floor integer value)
6. Modulus(%) -> a%b (remainder)
7. Exponetial(**) -> a\**b (a to the power b)

In [18]:
a = 13
b = 6

In [19]:
addition = a+b
subtraction = a-b
multiplication = a*b
division = a/b
floor_division = a//b
exponential_value = a**b
modulus_value = a%b

In [20]:
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(floor_division)
print(exponential_value)
print(modulus_value)

19
7
78
2.1666666666666665
2
4826809
1

In [15]:
13%6

1

# Assignment Operators

1. = -> x=y
2. += -> x+=y -> x=x+y
3. -= -> x-=y -> x=x-y
4. *= -> x*=y -> x=x*y
5. /= -> x/=y -> x=x/y
6. //= -> x//=y -> x=x//y
7. %= -> x%=y -> x=x%y
8. **= -> x**=y -> x=x**y

In [32]:
x=101
y=3

print(x,y)

x+=y
print(x,y)

x-=8
print(x,y)

x*=32
print(x,y)

x/=5
print(x,y)

x//=4
print(x,y)

x%=y
print(x,y)

x=21
x**=y
print(x,y)

101 3
104 3
96 3
3072 3
614.4 3
153.0 3
0.0 3
9261 3

# Comparison Operators

1. ==   : Equivalent
2. !=   : not equal to 
3. \>   : greate than
4. <    : less than
5. <=   : less than or equal to
6. \>=  : greater than or equal to

In [37]:
a = float(input("Please eneter the first nummmber: "))
b = float(input("Please eneter the second nummmber: "))

if a==b:
    print("a is equal to b")

if a!=b and a<b:
    print("a is less than b")
elif a!=b and a>b:
    print("a is greater than b")

if a==b and a<=b:
    print("a is less than or equal to b")

if a==b and a>=b:
    print("a is greater than or equal to b")

a is less than b

# Logical Operators

1. and  -> returns true if both conditions are true (True if both true [True and False → False])
2. or -> returns true if one of the condition returns true (True if at least one is true [True or False → True])
3. not -> negation operator (inverts value) (Inverts value [not True → False])

In [ ]:
x = 30
y = 21

print((x==30 and y==21))

True

In [39]:
print((x==30 or y==30))

True

In [40]:
print((x==31 or y==30))

False

In [41]:
print((x==30 and y==30))

False

In [42]:
print(not(True))

False

In [43]:
print(not(False))

True

# Idnetity Operators

1. is -> True if same object
2. is not -> True if different object

In [ ]:
x1 = 10
y1 = x1
x2 =30
print(x1 is y1)
print(x1 is x2)

x1 = 30
print(x1 is y1)

print(x1, y1, x2)

True
False
False
30 10 30

In [49]:
x1 = 10
y1 = x1
x2 =30
print(x1 is not y1)
print(x1 is not x2)

x1 = 30
print(x1 is not y1)

print(x1, y1, x2)

False
True
True
30 10 30

# Membership Operators

1. in -> True if found
2. not in -> True if not found

In [51]:
print("a" in "apple")

True

In [52]:
print(1 in [1,2,3,4,5])

True

In [53]:
print(1 in range(0,5))

True

In [54]:
print(1 not in [1,23,4,])

False

In [55]:
print("a" not in "pple")

True

# Bitwise Operators

1. & -> Bitwise AND
2. | -> Bitwise OR
3. ~ -> NOT
4. ^ -> XOR
5. << -> LEFT SHIFT 
6. \>> -> RIGHT SHIFT

In [60]:
1|2

3

In [61]:
9&1

1

In [65]:
~10

-11

In [66]:
10^5

15

In [68]:
10<<1

20

In [69]:
10>>1

5